.Header {
	width: calc(100vw - 60px);
	height: 60px;
	margin-left: 60px;
	display: flex;
	background-color: #ffffff;
	letter-spacing: 0.5px;
}

.search-area,
.search-button,
.options,
.options-menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-area {
	width: 80%;
	justify-content: left;
}

.search-area input {
	margin-left: 50px;
	width: 85%;
	height: 70%;
	border: none;
	border-bottom: #0081b8 2px solid;
	font-size: 32px;
	color: #0081b8;
}

.search-area input::placeholder {
	font-size: 32px;
	color: #0081b8;
}

.search-button {
	width: 15%;
}

.search-button button {
	background-color: #0081b8;
	border: none;
	border-radius: 5px;
	height: 35px;
	width: 130px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.options {
	width: 5%;
}

.options button {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 30px;
	width: 30px;
	background-color: #0081b8;
	border: none;
	border-radius: 50%;
}

.options div {
	width: 4px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 50%;
}

.options-menu {
	flex-direction: column;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	top: 60px;
	width: 230px;
	height: 100px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 3px 5px 0px #7ed8ffaa;
	z-index: 1;
}

.radio-buttons-status,
.radio-buttons-order {
	display: flex;
	align-items: center;
	width: 90%;
	height: 50%;
}

.radio {
	width: 50%;
}

.radio input {
	margin-right: 3px;
}

.radio label {
	margin-right: 20px;
	font-size: 16px;
	font-weight: 500;
}

.radio input::before {
	content: '';
	width: 10px;
	height: 10px;
	border: #0081b8 1.5px solid;
	border-radius: 50%;
	display: inline-block;
}

.radio-buttons .radio {
	margin: auto 20px;
}

@media (max-width: 980px) {
	.search-area {
		width: 70%;
	}

	.search-button {
		width: 20%;
	}

	.search-button button {
		height: 30px;
		width: 110px;
		font-size: 16px;
	}

	.options {
		width: 10%;
	}

	.options button {
		height: 25px;
		width: 25px;
	}

	.options div {
		width: 3px;
		height: 3px;
	}
}
