.Sidebar {
	background-color: #164d65;
	width: 60px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.home-button {
	background-color: #44aad6;
	height: 9%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-buttons {
	height: 65%;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.email-button {
	height: 26%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 20px;
}

.Sidebar img {
	width: 30px;
	height: 30px;
}
